<main>
  <!-- ジャンルソートボタン -->
  <div class="content bg-light">
    <ul class="nav nav-pills nav-justified py-1">
      <% @genres.each do |genre| %>
      <li class="nav-item">
        <div class="nav-link"><%=link_to "#{genre.name}",contents_path(:genre => genre.id),class: 'btn btn-danger btn-block' %></div>
      </li>
       <% end %>
    </ul>
    <div class="container">
      <div class="row">
        <% @contents.each do |content| %>
          <%= link_to content_path(content) do %>
            <div class="col-md-12">
              <div class="card mb-4 shadow-sm">
                <%= image_tag content.image_url.to_s, class: "index-img" %>
                  <p class="index-genre-tag"><%= content.genre.name %></p>
                <div class="card-body">
                  <h3 class="card-text"><%= content.name %></h3>
          <% end %>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted"><i class="far fa-clock"></i><%= time_ago_in_words(content.created_at) %>前</small>
                     <small class="text-muted" style="position: absolute; right: 40; bottom:10;"><i class="far fa-comment"></i>コメント数:<%= content.comments.count %>件</small>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <%= paginate @contents %>
    </div>
  </div>
</main>