<main>
  <div class="content bg-light">
       <ul class="nav nav-pills nav-justified py-3">
      <% @genres.each do |genre| %>
      <li class="nav-item"><a class="nav-link" style="font-size: 100%; background: rgba(255, 0, 0, 1); color: white; "><%= genre.name %></a></li>
       <% end %>
    </ul>
    <div class="container">
      <div class="row">
        <% @contents.each do |content| %>
          <%= link_to content_path(content) do %>
            <div class="col-md-12">
              <div class="card mb-4 shadow-sm">
                <p class="ranking-favorite" style="font-size: 100%; background: rgba(255, 0, 0, .7); color: white; position: absolute;"><%= content.genre.name %></p>
                <%= image_tag content.image_url.to_s, :style =>"width:100%;height:300px;object-fit:cover;" %>
                <title><%= content.name %></title><rect fill="#55595c" width="100%" height="100%">
                <div class="card-body">
                  <h4 class="card-text"><%= content.name %></h4>
          <% end %>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted"><i class="far fa-clock"></i><%= time_ago_in_words(content.created_at) %>前</small>
                     <small class="text-muted" style="position: absolute; right: 40; bottom:10;"><i class="far fa-comment"></i>コメント数:<%= content.comments.count %>件</small>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</main>