<table class="table text-center border-danger">
	<tr><%= attachment_image_tag(current_user, :profile_image, :fill, 150, 150) %></tr>
	<tr>
		<th><%= current_user.name %></th>
	</tr>
	<tr>
		<th>@<%= current_user.nickname %></th>
	</tr>
	<% @user ||= current_user %>
	<tr>
		<th>フォロー</th>
		<th>  <a href="<%= following_user_path(@user) %>">
			<strong id="following" class="stat">
				<%= current_user.following.count %>
			</strong></a>
		</th>
	</tr>
	<tr>
		<th>フォロワー</th>
		<th> <a href="<%= followers_user_path(@user) %>">
			<strong id="followers" class="stat">
				<%= current_user.followers.count %>
			</strong></a>
		</th>
	</tr>

	<tr>
		<th><%= link_to "プロフィール",user_path(current_user) %></th>
	</tr>
</table>
<% if @user == current_user %>
<div class="row">
	<%= link_to '',edit_user_path(@user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
</div>
<% end %>