<style>
	#profile-image {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  150px;       /* ※縦横を同値に */
    height: 150px;       /* ※縦横を同値に */
}
</style>
<table class="table">
	<tr></tr>
	<tr><%= attachment_image_tag(current_user, :profile_image, :fill, 150, 150,id: "profile-image") %></tr>
	<tr>
		<th><%= current_user.name %></th>
	</tr>
	<tr>
		<th>@<%= current_user.nickname %></th>
	</tr>
	<% @user ||= current_user %>
	<tr>
		<th>フォロー</th>
		<th>  <a href="<%= following_user_path(@user) %>">
			<strong id="following" class="stat">
				<%= current_user.following.count %>
			</strong></a>
		</th>
	</tr>
	<tr>
		<th>フォロワー</th>
		<th> <a href="<%= followers_user_path(@user) %>">
			<strong id="followers" class="stat">
				<%= current_user.followers.count %>
			</strong></a>
		</th>
	</tr>

	<tr>
		<th><%= link_to "プロフィール",user_path(current_user) %></th>
	</tr>
</table>
<% if @user == current_user %>
<div class="row">
	<%= link_to '',edit_user_path(@user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
</div>
<% end %>