<div class="container user-edit">
	<div class="mt-5 row">
		<div class="col-md-2"></div>
		<div class="col-md-8 card p-3 shadow-sm">
		    <%= form_for(@user) do |f| %>
					<h4 class="text-center">プロフィール編集フォーム</h4>
				<table class="table table-bordered table-content">
					<tbody>
						<tr>
							<div class="field">
								<td>
									<%= f.label :"名前" %>
								</td>
								<td>
									<%= f.text_field :name, autofocus: true, class: "text-field-small" %>
								</td>
							</div>
					    </tr>
						<tr>
							<div class="field">
								<td>
									<%= f.label :"id" %>
								</td>
								<td>
									<%= f.text_field :nickname, class: "text-field-small" %>
								</td>
							</div>
				        </tr>
						<tr>
							<div class="field">
								<td>
									<%= f.label :"イメージ画像" %>
								</td>
								<td>
									<%= f.attachment_field :profile_image, class: "text-field-lage" %>
								</td>
							</div>
						</tr>
						<tr>
							<div class="field">
								<td>
									<%= f.label :"好きなジャンル" %>
								</td>
								<td>
									<%= f.text_field :favorite_genre, class: "text-field-lage" %>
								</td>
							</div>
						</tr>
						<tr>
							<div class="field">
								<td>
									<%= f.label :"好きなタイトル" %>
								</td>
								<td>
									<%= f.text_field :being_played, class: "text-field-lage" %>
								</td>
							</div>
						</tr>
						<tr>
							<div class="field">
								<td>
									<%= f.label :"自己紹介" %>
								</td>
								<td>
									<%= f.text_field :profile, class: "form-inline" %>
								</td>
							</div>
						</tr>
		            </tbody>
	            </table>
	             <%= f.submit "編集内容を保存する", class: 'btn btn-primary btn-block' %>
            </div>
        <% end %>
	</div>
</div>
