<h2>会員一覧</h2>
<table class="table table-hover">
	<% @users.each do |user| %>
	<tr>
		<th><div class="rounded-circle">
			<%= attachment_image_tag user, :profile_image, :fill, 140,140, fallback: "no_image.jpg", size:'140x140'%></div>
		</th>
		<th>
			<h3 class="mb-0">
					<a class="text-primary" href="#"><%= user.name%></a>
				</h3>
				<div class="mb-1 text-muted"><%= user.nickname %></div>
				<p><%= user.profile %></p>
		</th>
		<th>
			<p>好きなジャンル</p>
            <p><%= user.favorite_genre %></p>
            <p>好きなタイトル</p>
            <p><%= user.being_played %></p>
		</th>
		<th>
			<div id="follow_form">
				<% if current_user.following?(user) %>
				<%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
				html: { method: :delete },) do |f| %>
				<%= f.submit "フォローを外す", class: "btn btn-danger" %>
				<% end %>
				<% else %>
				<%= form_for(current_user.active_relationships.build) do |f| %>
				<div><%= hidden_field_tag :followed_id, user.id %></div>
				<%= f.submit "フォローする", class: "btn btn-primary" %>
				<% end %>
				<% end %>
			</div>
		</th>
    </tr>
    <% end %>
</table>
