<div class="container">
    <div class="mt-5">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <table class="table table-bordered table-content" style="text-align: center;">
                    <tbody>
                        <tr>
                            <th class="info">名前</th>
                            <td>
                                <%= "#{@user.name}" %>
                                <div style="float: right;"><%= render 'users/follow_form', user: @user %></div>
                            </td>
                        </tr>
                        <tr>
                            <th class="info">ID</th>
                            <td>
                                <%= "#{@user.nickname}" %>
                            </td>
                        </tr>
                        <tr>
                            <th class="info">イメージ画像</th>
                            <td>
                                <%= attachment_image_tag @user, :profile_image, :fill, 150,150,fallback: "no_image.jpg",size:'150x150',id: "profile-image"%>
                            </td>
                        </tr>
                        <tr>
                            <th class="info">好きなジャンル</th>
                            <td>
                                <%= "#{@user.favorite_genre}" %>
                            </td>
                        </tr>
                        <tr>
                            <th class="info">好きなタイトル</th>
                            <td>
                                <%= "#{@user.being_played}" %>
                            </td>
                        </tr>
                        <tr>
                            <th class="info">自己紹介</th>
                            <td>
                                <%= "#{@user.profile}" %>
                            </td>
                        </tr>
                        <tr>
                            <th class="info">フォロー数</th>
                            <td>
                                <%= @user.following.count %>
                            </td>
                        </tr>
                        <tr>
                            <th class="info">フォロワー数</th>
                            <td>
                                <%= @user.followers.count %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <% if @user.id == current_user.id %>
            <table class="table table-bordered table-content">
                <tbody>
                    <tr>
                        <%= link_to "プロフィール編集", edit_user_path(@user), class: 'btn btn-primary btn-block' %>
                    </tr>
                    <tr>
                        <%= link_to "パスワード変更", edit_registration_path(@user), class: 'btn btn-primary btn-block' %>
                    </tr>
                </tbody>
            </table>
            <% end %>
        </div>
    </div>
    <div class="card-body shadow-sm">
        <h3 class="card-title"><%= @user.name %>さんがいいねした記事一覧</h3>
        <div class="row">
            <% @favorite_content.each do |content| %>
            <%= link_to content_path(content) do %>
            <div class="col-md-4">
                <div class="card h-10 mb-4 shadow-sm">
                    <%= image_tag content.image_url.to_s, class: "favo-content-img" %>
                    <p class="fav-genre-tag"><%= content.genre.name %></p>
                    <div class="card-body">
                        <h3 class="card-text favo-content-name"><%= content.name %></h3>
                        <% end %>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted"><i class="far fa-clock"></i><%= time_ago_in_words(content.created_at) %>前</small>
                            <small class="text-muted" style="position: absolute; right: 40; bottom:10;"><i class="far fa-comment"></i>コメント数:<%= content.comments.count %>件</small>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        </div>
    </div>
</div>