<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GameLink</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <%= csrf_meta_tag %>
  <%= csp_meta_tag %>
  <script src="https://kit.fontawesome.com/46860f55f1.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'application' %>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'relode' %>
</head>

<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
        <div class="container">
          <a class="navbar-brand" href="/"sdata-toggle="tooltip" title="TOPに戻ります。"><img class="logo" src="<%= asset_path "logo.png" %>"></a>
          <a class="text-muted">ゲーム総合情報サイト - GAME LINK[ゲームリンク]</a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <% if current_user %>
                <a class="nav-link " role="button" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">メニュー<i class="fas fa-caret-down"></i></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to "ユーザー一覧",users_path, class: "dropdown-item" %>
                  <%= link_to "プロフィール",user_path(current_user), class: "dropdown-item" %>
                  <%= link_to 'ログアウト',destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
                <% else %>
                <%= link_to '新規登録',new_user_registration_path %>
                <%= link_to 'ログイン',new_user_session_path %>
                <% end %>
              </li>
            </ul>
            <!--  記事の検索機能  -->
            <%= form_tag root_path, :method => 'get', class: "form-inline my-2 my-lg-0" do %>
            <%= text_field_tag :search, '', class: "form-control mr-sm-2", :placeholder => "記事を検索" %>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >検索</button>
            <% end %>
          </div>
        </div>
      </nav>
      <main role="main">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- インジケータの設定 -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <!-- スライドさせる画像の設定 -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= link_to content_path(@top_contents[2]) do %>
              <div class="carousel-gradation"></div>
              <%= image_tag @top_contents[2].image_url.to_s, class: "top-content-img" %>
              <div class="container">
                <div class="carousel-caption text-left">
                  <h2  class="top-contents"><%= @top_contents[2].name %></h2>
                  <p class="genre-tag"><%= @top_contents[2].genre.name %></p>
                  <small class="top-content-time-ago"><i class="far fa-clock"></i><%= time_ago_in_words(@top_contents[2].created_at) %>前</small>
                </div>
              </div>
              <% end %>
            </div>
            <div class="carousel-item">
              <%= link_to content_path(@top_contents[1]) do %>
              <div class="carousel-gradation"></div>
              <%= image_tag @top_contents[1].image_url.to_s, class: "top-content-img" %>
              <div class="container">
                <div class="carousel-caption">
                  <h2 class="top-contents"><%= @top_contents[1].name %></h2>
                  <p class="genre-tag"><%= @top_contents[1].genre.name %></p>
                  <small class="top-content-time-ago"><i class="far fa-clock"></i><%= time_ago_in_words(@top_contents[1].created_at) %>前</small>
                </div>
              </div>
              <% end %>
            </div>
            <div class="carousel-item">
              <%= link_to content_path(@top_contents[0]) do %>
              <div class="carousel-gradation"></div>
              <%= image_tag @top_contents[0].image_url.to_s, class: "top-content-img" %>
              <div class="container">
                <div class="carousel-caption text-right">
                  <h2 class="top-contents"><%= @top_contents[0].name %></h2>
                  <p class="genre-tag"><%= @top_contents[0].genre.name %></p>
                  <small class="top-content-time-ago"><i class="far fa-clock"></i><%= time_ago_in_words(@top_contents[0].created_at) %>前</small>
                </div>
              </div>
              <% end %>
            </div>
            <!-- スライダーのコントロール -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">前へ</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">次へ</span>
            </a>
          </div>
        </div>
      </main>
    </header>
    <!-- サイドバー -->
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar text-center card">
          <div class="sidebar-sticky mt-3 ">
            <!-- ログイン中のユーザー情報 -->
            <% if current_user %>
            <%= render 'users/profile', user: @user %>
            <% else %>
            <% end %>
          </div>
          <!-- アマゾン広告 -->
          <%= render 'layouts/amazon' %>
        　</nav>

        <div class="col-md-8">
         <%- flash.each do |name, msg| -%>
         <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
         <%- end -%>
         <%= yield %>
       </div>

       <!--  いいね数に応じたランキング表示　-->
       <nav class="col-md-2 d-none d-md-block bg-light sidebar card">
        <div class="sidebar-sticky">
          <h6 class= "pt-2 text-center"><i class="fas fa-crown"></i>人気記事<i class="fas fa-crown"></i></h6>
          <% @all_ranks.each do |content| %>
          <div class="ranking-box">
            <p class="ranking-favorite"><i class="fas fa-heart"></i><%= content.favorites.count %>いいね！</p>
            <%= link_to content_path(content) do %>
            <p class="ranking-name"><%= content.name %></p>
            <div class="shadow-sm"><%= image_tag content.image_url.to_s, class: "ranking-img" %></div>
            <% end %>
          </div>
          <% end %>
        </div>
      </nav>
    </div>
  </div>

  <footer>
    <a href="/" sdata-toggle="tooltip" title="TOPに戻ります。">
      <img class="pbj-fit footer-logo" src="<%= asset_path "footer-logo.png" %>">
    </a>
  </footer>

</body>
</html>
