<div class="container">
    <div class="col-md-12"></div>
    <div class="mt-5 row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div >
                    <h3>新規登録フォーム</h3>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <div class="field">
                            <td>
                                <%= f.label :"名前" %>
                            </td>
                            <td>
                                <%= f.text_field :name, autofocus: true, class: "text-field-small" %>
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="field">
                            <td>
                                <%= f.label :"ユーザーID" %>
                            </td>
                            <td>
                                <%= f.text_field :nickname, class: "text-field-small" %>
                            </td>
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <div class="field">
                            <td>
                                <%= f.label :"イメージ画像" %>
                            </td>
                            <td>
                                <%= f.attachment_field :profile_image, class: "text-field-lage" %>
                            </td>
                        </div>
                    </tr>
                        <div class="field">
                            <td>
                                <%= f.label :"好きなジャンル" %>
                            </td>
                            <td>
                                <%= f.text_field :favorite_genre, class: "text-field-lage" %>
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="field">
                            <td>
                                <%= f.label :"好きなタイトル" %>
                            </td>
                            <td>
                                <%= f.text_field :being_played, class: "text-field-lage" %>
                            </td>
                        </div>
                    </tr>
                     <tr>
                        <div class="field">
                            <td>
                                <%= f.label :"自己紹介" %>
                            </td>
                            <td>
                                <%= f.text_field :profile, class: "form-inline" %>
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="field">
                            <td>
                                <%= f.label :"メールアドレス" %>
                            </td>
                            <td>
                                <%= f.email_field :email, class: "text-field" %>
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="field">
                            <td>
                                <%= f.label :"パスワード" %>
                            </td>
                            <td>
                                <% if @minimum_password_length %>
                                <% end %>
                                <%= f.password_field :password, autocomplete: "new-password", class: "text-field-lage" %>
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="field">
                            <td>
                                <%= f.label :"パスワード（再度）" %>
                            </td>
                            <td>
                                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-field-lage" %>
                            </td>
                        </div>
                    </tr>
                </table>
            </div>
            <div class="actions" style="text-align: center;">
                <%= f.submit "登録する", class: "btn-lg btn-primary" %>
            </div>
            <% end %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="margin-top: 30px; text-align: center;">
        登録済みの方はこちら→<%= render "users/shared/links" %>
    </div>
</div>
